# Anthropic
ANTHROPIC_API_KEY=sk-ant-xxxx

# OpenAI
OPENAI_API_KEY=sk-proj-xxxx

# Gemini Gen AI 
GEMINI_API_KEY=xxxx
GOOGLE_APPLICATION_CREDENTIALS=/Users/<YOURUSERNAME>/.config/gcloud/application_default_credentials.json
GOOGLE_GENERATIVE_AI_API_KEY=xxxx

# this is for Modal
MODAL_TOKEN_ID=ak-xxxx
MODAL_TOKEN_SECRET=as-xxxx

# this is for coiled.io
DASK_COILED__TOKEN=xxx-xxx
